html {
  background-color: #ece8e1 !important;
  min-width: 1263px;
}

body {
  background-color: #ece8e1 !important;
}

#back-home {
  font-family: "Abel";
  color: #444857 !important;
  position: absolute !important;
  font-size: 16px;
  font-weight: 600;
  margin-top: 22px;
  margin-bottom: 20px;
  top: -5px !important;
  left: 20px !important;
}

#back-home a {
  text-decoration: none !important;
  color: #444857 !important;
}

#back-home a:hover {
  color: #ad7d52 !important;
}

#notebook-container {
  margin-top: 30px;
  margin-bottom: 50px;
}
